h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 20px;
	line-height: 25px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: 1930px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 290px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 400px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}


.twoone {
	background-image: url("twoone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoone:hover {
	top: 200px;
}

.twotwo {
	background-image: url("twotwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twotwo:hover {
	top: 200px;
}

.twothree {
	background-image: url("twothree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twothree:hover {
	top: 200px;
}

.twofour {
	background-image: url("twofour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofour:hover {
	top: 200px;
}

.twofive {
	background-image: url("twofive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofive:hover {
	top: 200px;
}

.twosix {
	background-image: url("twosix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twosix:hover {
	top: 200px;
}

.twoseven {
	background-image: url("twoseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoseven:hover {
	top: 200px;
}

.twoeight {
	background-image: url("twoeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoeight:hover {
	top: 200px;
}

.twonine {
	background-image: url("twonine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twonine:hover {
	top: 200px;
}

.twoten {
	background-image: url("twoten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoten:hover {
	top: 200px;
}

.twoeleven {
	background-image: url("twoeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoeleven:hover {
	top: 200px;
}

.twotwelve {
	background-image: url("twotwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twotwelve:hover {
	top: 200px;
}

.twothirteen {
	background-image: url("twothirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twothirteen:hover {
	top: 200px;
}

.twofourteen {
	background-image: url("twofourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofourteen:hover {
	top: 200px;
}

.twofifteen {
	background-image: url("twofifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofifteen:hover {
	top: 200px;
}

.twosixteen {
	background-image: url("twosixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twosixteen:hover {
	top: 200px;
}

.hairtwentytwo {
	background-image: url("hairtwentytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentytwo:hover {
	top: 200px;
}

.hairtwentythree {
	background-image: url("hairtwentythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentythree:hover {
	top: 200px;
}

.hairtwentyfour {
	background-image: url("hairtwentyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentyfour:hover {
	top: 200px;
}

.acctwentytwo {
	background-image: url("acctwentytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentytwo:hover {
	top: 200px;
}

.acctwentythree {
	background-image: url("acctwentythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentythree:hover {
	top: 200px;
}

.acctwentyfour {
	background-image: url("acctwentyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentyfour:hover {
	top: 200px;
}

.makeupfifteen {
	background-image: url("makeupfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupfifteen:hover {
	top: 200px;
}

.makeupsixteen {
	background-image: url("makeupsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupsixteen:hover {
	top: 200px;
}