h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 20px;
	line-height: 25px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: 1920px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 280px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 400px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}



.ninsevenone {
	background-image: url("ninsevenone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenone:hover {
	top: 200px;
}

.ninsevenfive {
	background-image: url("ninsevenfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevenfive:hover {
	top: 200px;
}

.ninsevensix {
	background-image: url("ninsevensix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevensix:hover {
	top: 200px;
}

.ninsevenseven {
	background-image: url("ninsevenseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevenseven:hover {
	top: 200px;
}

.ninseveneight {
	background-image: url("ninseveneight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseveneight:hover {
	top: 200px;
}

.ninsevennine {
	background-image: url("ninsevennine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevennine:hover {
	top: 200px;
}

.ninseventwo {
	background-image: url("ninseventwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventwo:hover {
	top: 200px;
}
.ninseventhree {
	background-image: url("ninseventhree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninseventhree:hover {
	top: 200px;
}

.ninsevenfour {
	background-image: url("ninsevenfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfour:hover {
	top: 200px;
}

.ninseventen {
	background-image: url("ninseventen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventen:hover {
	top: 200px;
}

.ninseveneleven {
	background-image: url("ninseveneleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseveneleven:hover {
	top: 200px;
}

.ninseventwelve {
	background-image: url("ninseventwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventwelve:hover {
	top: 200px;
}

.ninseventhirteen {
	background-image: url("ninseventhirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventhirteen:hover {
	top: 200px;
}

.ninsevenfourteen {
	background-image: url("ninsevenfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfourteen:hover {
	top: 200px;
}

.ninsevenfifteen {
	background-image: url("ninsevenfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfifteen:hover {
	top: 200px;
}

.ninsevensixteen {
	background-image: url("ninsevensixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevensixteen:hover {
	top: 200px;
}

.hairthirteen {
	background-image: url("hairthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairthirteen:hover {
	top: 200px;
}

.hairfourteen {
	background-image: url("hairfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairfourteen:hover {
	top: 200px;
}

.hairfifteen {
	background-image: url("hairfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairfifteen:hover {
	top: 200px;
}

.accthirteen {
	background-image: url("accthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accthirteen:hover {
	top: 200px;
}

.accfourteen {
	background-image: url("accfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accfourteen:hover {
	top: 200px;
}

.accfifteen {
	background-image: url("accfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accfifteen:hover {
	top: 200px;
}

.makeupnine {
	background-image: url("makeupnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupnine:hover {
	top: 200px;
}

.makeupten {
	background-image: url("makeupten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupten:hover {
	top: 200px;
}