.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 90%;
	background-image: url("designlayout4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Righteous', cursive;
	color: rgb(243, 243, 240);
	font-size: 80px;
	position: absolute;
	top: -19px;
	left: 28px;
}
h1:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 1080px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

h2 {
	font-family: 'Righteous', cursive;
	color: rgb(243, 243, 240);
	font-size: 55px;
	position: absolute;
	top: 230px;
	left: 20px;
	background-color: rgb(169, 39, 10);
	padding-left: 10px;
}

h3 {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 320px;
	left: 35px;
}

h3:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

h3:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

h4 {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 300px;
	left: 290px;
}

h4:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

h4:hover:after {
    background-color: rgb(169, 39, 10);
    width: 400px;
    transition: width 1s ease-in-out;
}

h5 {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 280px;
	left: 750px;
}

h5:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

h5:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

text {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 400px;
	left: 1030px;
}

text:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

text:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

b {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 540px;
	left: 35px;
}

b:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

b:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

strong {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 540px;
	left: 330px;
}

strong:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

strong:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

sub {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 540px;
	left: 620px;
}

sub:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

sub:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

small {
	font-family: 'Righteous', cursive;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 540px;
	left: 900px;
	
}

small:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 20px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

small:hover:after {
    background-color: rgb(169, 39, 10);
    width: 200px;
    transition: width 1s ease-in-out;
}

relative-box {
	position: relative;
	top: 20px;
	left: 10px;
	width: 200px;
	height: 200px;
	background-color: rgb(222, 21, 40);
}

img {
	height: 100px;
	width: 100px;
}



