h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 20px;
	line-height: 25px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: 2420px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 370px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 450px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.nineightone {
	background-image: url("nineightone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightone:hover {
	top: 200px;
}

.nineighttwo {
	background-image: url("nineighttwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighttwo:hover {
	top: 200px;
}

.nineightthree {
	background-image: url("nineightthree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightthree:hover {
	top: 200px;
}

.nineightfour {
	background-image: url("nineightfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfour:hover {
	top: 200px;
}

.nineightfive {
	background-image: url("nineightfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfive:hover {
	top: 200px;
}

.nineightsix {
	background-image: url("nineightsix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightsix:hover {
	top: 200px;
}

.nineightseven {
	background-image: url("nineightseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightseven:hover {
	top: 200px;
}

.nineighteight {
	background-image: url("nineighteight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteight:hover {
	top: 200px;
}

.nineightnine {
	background-image: url("nineightnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightnine:hover {
	top: 200px;
}

.nineightten {
	background-image: url("nineightten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightten:hover {
	top: 200px;
}

.nineighteleven {
	background-image: url("nineighteleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteleven:hover {
	top: 200px;
}

.nineighttwelve {
	background-image: url("nineighttwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighttwelve:hover {
	top: 200px;
}

.nineightthirteen {
	background-image: url("nineightthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightthirteen:hover {
	top: 200px;
}

.nineightfourteen {
	background-image: url("nineightfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfourteen:hover {
	top: 200px;
}

.nineightfifteen {
	background-image: url("nineightfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfifteen:hover {
	top: 200px;
}

.nineightsixteen {
	background-image: url("nineightsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightsixteen:hover {
	top: 200px;
}

.nineseventeen {
	background-image: url("nineseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineseventeen:hover {
	top: 200px;
}

.nineighteighteen {
	background-image: url("nineighteighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteighteen:hover {
	top: 200px;
}

.nineightnineteen {
	background-image: url("nineightnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightnineteen:hover {
	top: 200px;
}

.ninetwenty {
	background-image: url("ninetwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninetwenty:hover {
	top: 200px;
}

.hairsixteen {
	background-image: url("hairsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairsixteen:hover {
	top: 200px;
}

.hairseventeen {
	background-image: url("hairseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairseventeen:hover {
	top: 200px;
}

.haireighteen {
	background-image: url("haireighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.haireighteen:hover {
	top: 200px;
}

.accsixteen {
	background-image: url("accsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accsixteen:hover {
	top: 200px;
}

.accseventeen {
	background-image: url("accseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accseventeen:hover {
	top: 200px;
}

.acceighteen {
	background-image: url("acceighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acceighteen:hover {
	top: 200px;
}

.makeupeleven {
	background-image: url("makeupeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupeleven:hover {
	top: 200px;
}

.makeuptwelve {
	background-image: url("makeuptwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeuptwelve:hover {
	top: 200px;
}