.backgroundeight {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundthree.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundnine {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundthree.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundten {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundthree.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundeleven {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundthree.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwelve {
	position: absolute;
	top: 2860;
	left: 0;
	width: 100vw;
	height: 30vh;
	opacity: 40%;
	background-image: url("backgroundthree.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwelve:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 830px;
	height: 360px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(219, 152, 121);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 44px;
	left: 28px;
	line-height: 25px;
	width: 800px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(219, 152, 121 );
	font-size: 50px;
	top: 2060px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 420px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 530px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.ninfiftyone {
	background-image: url("ninfiftyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyone:hover {
	top: 400px;
}

.ninfiftytwo {
	background-image: url("ninfiftytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftytwo:hover {
	top: 400px;
}

.ninfiftythree {
	background-image: url("ninfiftythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftythree:hover {
	top: 400px;
}

.ninfiftyfour {
	background-image: url("ninfiftyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyfour:hover {
	top: 400px;
}

.ninfiftyfive {
	background-image: url("ninfiftyfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyfive:hover {
	top: 400px;
}

.ninfiftysix {
	background-image: url("ninfiftysix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftysix:hover {
	top: 400px;
}

.ninfiftyfourteen {
	background-image: url("ninfiftyfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyfourteen:hover {
	top: 400px;
}

.ninfiftyfifteen {
	background-image: url("ninfiftyfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyfifteen:hover {
	top: 400px;
}

.ninfiftysixteen {
	background-image: url("ninfiftysixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftysixteen:hover {
	top: 400px;
}

.ninfiftyten {
	background-image: url("ninfiftyten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyten:hover {
	top: 400px;
}

.ninfiftyeleven {
	background-image: url("ninfiftyeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyeleven:hover {
	top: 400px;
}

.ninfiftytwelve {
	background-image: url("ninfiftytwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftytwelve:hover {
	top: 400px;
}

.ninfiftythirteen {
	background-image: url("ninfiftythirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftythirteen:hover {
	top: 400px;
}

.ninfiftyseven {
	background-image: url("ninfiftyseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyseven:hover {
	top: 400px;
}

.ninfiftyeight {
	background-image: url("ninfiftyeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftyeight:hover {
	top: 400px;
}

.ninfiftynine {
	background-image: url("ninfiftynine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninfiftynine:hover {
	top: 400px;
}

.hairseven {
	background-image: url("hairseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairseven:hover {
	top: 515px;
}

.haireight {
	background-image: url("haireight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.haireight:hover {
	top: 515px;
}

.hairnine {
	background-image: url("hairnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairnine:hover {
	top: 515px;
}

.accseven {
	background-image: url("accseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accseven:hover {
	top: 515px;
}

.acceight {
	background-image: url("acceight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acceight:hover {
	top: 515px;
}

.accnine {
	background-image: url("accnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accnine:hover {
	top: 515px;
}

.makeupfive {
	background-image: url("makeupfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupfive:hover {
	top: 515px;
}

.makeupsix {
	background-image: url("makeupsix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupsix:hover {
	top: 515px;
}