.backgroundtwentynine {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundseven.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirty {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundseven.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtyone {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundseven.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtytwo {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundseven.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtythree {
	position: absolute;
	top: 2860;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundseven.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtythree:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 840px;
	height: 430px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(115, 0, 252 );
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	position: absolute;
	top: 50px;
	left: 35px;
	line-height: 23px;
	width: 800px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(115, 0, 252  );
	font-size: 50px;
	top: 2550px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 490px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 610px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}


.ninnineone {
	background-image: url("ninnineone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineone:hover {
	top: 480px;
}

.ninninetwo {
	background-image: url("ninninetwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwo:hover {
	top: 480px;
}

.ninninethree {
	background-image: url("ninninethree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninethree:hover {
	top: 480px;
}

.ninninefour {
	background-image: url("ninninefour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefour:hover {
	top: 480px;
}

.ninninefive {
	background-image: url("ninninefive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefive:hover {
	top: 480px;
}

.ninninesix {
	background-image: url("ninninesix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninesix:hover {
	top: 480px;
}

.ninnineseven {
	background-image: url("ninnineseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineseven:hover {
	top: 480px;
}

.ninnineeight {
	background-image: url("ninnineeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeight:hover {
	top: 480px;
}

.ninninenine {
	background-image: url("ninninenine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninenine:hover {
	top: 480px;
}

.ninnineten {
	background-image: url("ninnineten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineten:hover {
	top: 480px;
}

.ninnineeleven {
	background-image: url("ninnineeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeleven:hover {
	top: 480px;
}

.ninninetwelve {
	background-image: url("ninninetwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwelve:hover {
	top: 480px;
}

.ninninethirteen {
	background-image: url("ninninethirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninethirteen:hover {
	top: 480px;
}

.ninninefourteen {
	background-image: url("ninninefourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefourteen:hover {
	top: 480px;
}

.ninninefifteen {
	background-image: url("ninninefifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefifteen:hover {
	top: 480px;
}

.ninninesixteen {
	background-image: url("ninninesixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninesixteen:hover {
	top: 480px;
}

.ninnineseventeen {
	background-image: url("ninnineseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineseventeen:hover {
	top: 480px;
}

.ninnineeighteen {
	background-image: url("ninnineeighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeighteen:hover {
	top: 480px;
}

.ninninenineteen {
	background-image: url("ninninenineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninenineteen:hover {
	top: 480px;
}

.ninninetwenty {
	background-image: url("ninninetwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwenty:hover {
	top: 480px;
}

.hairnineteen {
	background-image: url("hairnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairnineteen:hover {
	top: 600px;
}

.hairtwenty {
	background-image: url("hairtwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwenty:hover {
	top: 600px;
}

.hairtwentyone {
	background-image: url("hairtwentyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentyone:hover {
	top: 600px;
}

.accnineteen {
	background-image: url("accnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accnineteen:hover {
	top: 600px;
}

.acctwenty {
	background-image: url("acctwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwenty:hover {
	top: 600px;
}

.acctwentyone {
	background-image: url("acctwentyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentyone:hover {
	top: 600px;
}

.makeupthirteen {
	background-image: url("makeupthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupthirteen:hover {
	top: 600px;
}

.makeupfourteen {
	background-image: url("makeupfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupfourteen:hover {
	top: 600px;
}