.backgroundone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundone.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}

.backgroundtwo {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundone.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}

.backgroundthree {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundone.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthree:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 810px;
	height: 270px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(255, 255, 255);
	font-size: 50px;
	top: -40px;
	left: 20px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	position: absolute;
	top: 50px;
	left: 17px;
	margin-left: 10px;
	line-height: 25px;
	width: 800px;

}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(255, 255, 255);
	font-size: 50px;
	top: 1120px;
	left: 20px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 330px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 420px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.flapper2 {
	background-image: url("flapper2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
.flapper2:hover {
	top: 300px;
}

.flapper5 {
	background-image: url("flapper5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
.flapper5:hover {
	top: 300px;
}

.flapper6 {
	background-image: url("flapper6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.flapper6:hover {
	top: 300px;
}

.flapper7 {
	background-image: url("flapper7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.flapper7:hover {
	top: 300px;
}

.malefashion1 {
	background-image: url("malefashion1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.malefashion1:hover {
	top: 300px;
}

.malefashion2 {
	background-image: url("malefashion2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.malefashion2:hover {
	top: 300px;
}

.malefashion3 {
	background-image: url("malefashion3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.malefashion3:hover {
	top: 300px;
}

.malefashion5 {
	background-image: url("malefashion5.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.malefashion5:hover {
	top: 300px;
}

.hairone {
	background-image: url("hairone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairone:hover {
	top: 400px;
}

.hairtwo {
	background-image: url("hairtwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwo:hover {
	top: 400px;
}

.hairthree {
	background-image: url("hairthree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairthree:hover {
	top: 400px;
}

.accone {
	background-image: url("accone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accone:hover {
	top: 400px;
}

.acctwo {
	background-image: url("acctwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwo:hover {
	top: 400px;
}

.accthree {
	background-image: url("accthree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accthree:hover {
	top: 400px;
}

.makeupone {
	background-image: url("makeupone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupone:hover {
	top: 400px;
}

.makeuptwo {
	background-image: url("makeuptwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeuptwo:hover {
	top: 400px;
}
