.backgroundnineteen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfive.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwenty {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfive.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentyone {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfive.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentytwo {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfive.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}

.backgroundtwentythree {
    position: absolute;
	top: 2860;
	left: 0;
	width: 100vw;
	height: 30vh;
	opacity: 40%;
	background-image: url("backgroundfive.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentythree:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 830px;
	height: 370px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(220, 97, 70);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	position: absolute;
	top: 50px;
	left: 29px;
	line-height: 25px;
	width: 800px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(220, 97, 70 );
	font-size: 50px;
	top: 2060px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 430px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 520px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.ninsevenone {
	background-image: url("ninsevenone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenone:hover {
	top: 410px;
}

.ninsevenfive {
	background-image: url("ninsevenfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevenfive:hover {
	top: 410px;
}

.ninsevensix {
	background-image: url("ninsevensix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevensix:hover {
	top: 410px;
}

.ninsevenseven {
	background-image: url("ninsevenseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninsevenseven:hover {
	top: 410px;
}

.ninseveneight {
	background-image: url("ninseveneight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseveneight:hover {
	top: 410px;
}

.ninsevennine {
	background-image: url("ninsevennine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevennine:hover {
	top: 410px;
}

.ninseventwo {
	background-image: url("ninseventwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventwo:hover {
	top: 410px;
}
.ninseventhree {
	background-image: url("ninseventhree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.ninseventhree:hover {
	top: 410px;
}

.ninsevenfour {
	background-image: url("ninsevenfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfour:hover {
	top: 410px;
}

.ninseventen {
	background-image: url("ninseventen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventen:hover {
	top: 410px;
}

.ninseveneleven {
	background-image: url("ninseveneleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseveneleven:hover {
	top: 410px;
}

.ninseventwelve {
	background-image: url("ninseventwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventwelve:hover {
	top: 410px;
}

.ninseventhirteen {
	background-image: url("ninseventhirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninseventhirteen:hover {
	top: 410px;
}

.ninsevenfourteen {
	background-image: url("ninsevenfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfourteen:hover {
	top: 410px;
}

.ninsevenfifteen {
	background-image: url("ninsevenfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevenfifteen:hover {
	top: 410px;
}

.ninsevensixteen {
	background-image: url("ninsevensixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsevensixteen:hover {
	top: 410px;
}

.hairthirteen {
	background-image: url("hairthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairthirteen:hover {
	top: 510px;
}

.hairfourteen {
	background-image: url("hairfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairfourteen:hover {
	top: 510px;
}

.hairfifteen {
	background-image: url("hairfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairfifteen:hover {
	top: 510px;
}

.accthirteen {
	background-image: url("accthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accthirteen:hover {
	top: 510px;
}

.accfourteen {
	background-image: url("accfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accfourteen:hover {
	top: 510px;
}

.accfifteen {
	background-image: url("accfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accfifteen:hover {
	top: 510px;
}

.makeupnine {
	background-image: url("makeupnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupnine:hover {
	top: 510px;
}

.makeupten {
	background-image: url("makeupten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupten:hover {
	top: 510px;
}