.backgroundthirtyfour {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundeight.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtyfive {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundeight.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtysix {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundeight.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtyseven {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundeight.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtyeight {
	position: absolute;
	top: 2860;
	left: 0;
	width: 100vw;
	height: 30vh;
	opacity: 40%;
	background-image: url("backgroundeight.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundthirtyeight:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 840px;
	height: 380px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 19px;
	position: absolute;
	top: 50px;
	left: 30px;
	line-height: 24px;
	width: 800px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: 2070px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 440px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 530px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}


.twoone {
	background-image: url("twoone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoone:hover {
	top: 420px;
}

.twotwo {
	background-image: url("twotwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twotwo:hover {
	top: 420px;
}

.twothree {
	background-image: url("twothree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twothree:hover {
	top: 420px;
}

.twofour {
	background-image: url("twofour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofour:hover {
	top: 420px;
}

.twofive {
	background-image: url("twofive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofive:hover {
	top: 420px;
}

.twosix {
	background-image: url("twosix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twosix:hover {
	top: 420px;
}

.twoseven {
	background-image: url("twoseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoseven:hover {
	top: 420px;
}

.twoeight {
	background-image: url("twoeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoeight:hover {
	top: 420px;
}

.twonine {
	background-image: url("twonine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twonine:hover {
	top: 420px;
}

.twoten {
	background-image: url("twoten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoten:hover {
	top: 420px;
}

.twoeleven {
	background-image: url("twoeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twoeleven:hover {
	top: 420px;
}

.twotwelve {
	background-image: url("twotwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twotwelve:hover {
	top: 420px;
}

.twothirteen {
	background-image: url("twothirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twothirteen:hover {
	top: 420px;
}

.twofourteen {
	background-image: url("twofourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofourteen:hover {
	top: 420px;
}

.twofifteen {
	background-image: url("twofifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twofifteen:hover {
	top: 420px;
}

.twosixteen {
	background-image: url("twosixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.twosixteen:hover {
	top: 420px;
}

.hairtwentytwo {
	background-image: url("hairtwentytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentytwo:hover {
	top: 520px;
}

.hairtwentythree {
	background-image: url("hairtwentythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentythree:hover {
	top: 520px;
}

.hairtwentyfour {
	background-image: url("hairtwentyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentyfour:hover {
	top: 520px;
}

.acctwentytwo {
	background-image: url("acctwentytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentytwo:hover {
	top: 520px;
}

.acctwentythree {
	background-image: url("acctwentythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentythree:hover {
	top: 520px;
}

.acctwentyfour {
	background-image: url("acctwentyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentyfour:hover {
	top: 520px;
}

.makeupfifteen {
	background-image: url("makeupfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupfifteen:hover {
	top: 520px;
}

.makeupsixteen {
	background-image: url("makeupsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupsixteen:hover {
	top: 520px;
}