h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	position: absolute;
	top: 40px;
	left: 20px;
	line-height: 25px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(169, 39, 10);
	font-size: 50px;
	top: 2400px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 350px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 430px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}


.ninnineone {
	background-image: url("ninnineone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineone:hover {
	top: 200px;
}

.ninninetwo {
	background-image: url("ninninetwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwo:hover {
	top: 200px;
}

.ninninethree {
	background-image: url("ninninethree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninethree:hover {
	top: 200px;
}

.ninninefour {
	background-image: url("ninninefour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefour:hover {
	top: 200px;
}

.ninninefive {
	background-image: url("ninninefive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefive:hover {
	top: 200px;
}

.ninninesix {
	background-image: url("ninninesix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninesix:hover {
	top: 200px;
}

.ninnineseven {
	background-image: url("ninnineseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineseven:hover {
	top: 200px;
}

.ninnineeight {
	background-image: url("ninnineeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeight:hover {
	top: 200px;
}

.ninninenine {
	background-image: url("ninninenine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninenine:hover {
	top: 200px;
}

.ninnineten {
	background-image: url("ninnineten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineten:hover {
	top: 200px;
}

.ninnineeleven {
	background-image: url("ninnineeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeleven:hover {
	top: 200px;
}

.ninninetwelve {
	background-image: url("ninninetwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwelve:hover {
	top: 200px;
}

.ninninethirteen {
	background-image: url("ninninethirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninethirteen:hover {
	top: 200px;
}

.ninninefourteen {
	background-image: url("ninninefourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefourteen:hover {
	top: 200px;
}

.ninninefifteen {
	background-image: url("ninninefifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninefifteen:hover {
	top: 200px;
}

.ninninesixteen {
	background-image: url("ninninesixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninesixteen:hover {
	top: 200px;
}

.ninnineseventeen {
	background-image: url("ninnineseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineseventeen:hover {
	top: 200px;
}

.ninnineeighteen {
	background-image: url("ninnineeighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninnineeighteen:hover {
	top: 200px;
}

.ninninenineteen {
	background-image: url("ninninenineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninenineteen:hover {
	top: 200px;
}

.ninninetwenty {
	background-image: url("ninninetwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninninetwenty:hover {
	top: 200px;
}

.hairnineteen {
	background-image: url("hairnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairnineteen:hover {
	top: 200px;
}

.hairtwenty {
	background-image: url("hairtwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwenty:hover {
	top: 200px;
}

.hairtwentyone {
	background-image: url("hairtwentyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwentyone:hover {
	top: 200px;
}

.accnineteen {
	background-image: url("accnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accnineteen:hover {
	top: 200px;
}

.acctwenty {
	background-image: url("acctwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwenty:hover {
	top: 200px;
}

.acctwentyone {
	background-image: url("acctwentyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwentyone:hover {
	top: 200px;
}

.makeupthirteen {
	background-image: url("makeupthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupthirteen:hover {
	top: 200px;
}

.makeupfourteen {
	background-image: url("makeupfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupfourteen:hover {
	top: 200px;
}