.backgroundthirteen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundfourteen {
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundfifteen {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundsixteen {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 70vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundseventeen {
	position: absolute;
	top: 2646;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}

.backgroundeighteen {
    position: absolute;
	top: 3360;
	left: 0;
	width: 100vw;
	height: 35vh;
	opacity: 40%;
	background-image: url("backgroundfour.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundeighteen:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 830px;
	height: 460px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(218, 150, 135 );
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 46px;
	left: 30px;
	line-height: 25px;
	width: 800px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(218, 150, 135 );
	font-size: 50px;
	top: 2580px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 520px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 630px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.greaser {
	background-image: url("greaser.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser:hover {
	top: 500px;
}

.greaser1 {
	background-image: url("greaser1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser1:hover {
	top: 500px;
}

.greaser2 {
	background-image: url("greaser2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser2:hover {
	top: 500px;
}

.greaser3 {
	background-image: url("greaser3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser3:hover {
	top: 500px;
}

.greaser4 {
	background-image: url("greaser4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser4:hover {
	top: 500px;
}

.greaser6 {
	background-image: url("greaser6.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser6:hover {
	top: 500px;
}

.greaser7 {
	background-image: url("greaser7.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser7:hover {
	top: 500px;
}

.greaser8 {
	background-image: url("greaser8.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.greaser8:hover {
	top: 500px;
}

.hippie {
	background-image: url("hippie.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hippie:hover {
	top: 500px;}

.hippie1 {
	background-image: url("hippie1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hippie1:hover {
	top: 500px;
}

.hippie2 {
	background-image: url("hippie2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hippie2:hover {
	top: 500px;
}

.hippie3 {
	background-image: url("hippie3.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hippie3:hover {
	top: 500px;
}

.hippie4 {
	background-image: url("hippie4.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hippie4:hover {
	top: 500px;
}

.ninsixtyfour {
	background-image: url("ninsixtyfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtyfour:hover {
	top: 500px;
}

.ninsixtyone {
	background-image: url("ninsixtyone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtyone:hover {
	top: 500px;
}

.ninsixtytwo {
	background-image: url("ninsixtytwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtytwo:hover {
	top: 500px;
}

.ninsixtythree {
	background-image: url("ninsixtythree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtythree:hover {
	top: 500px;
}

.ninsixty {
	background-image: url("ninsixty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixty:hover {
	top: 500px;
}

.ninsixtyfive {
	background-image: url("ninsixtyfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtyfive:hover {
	top: 500px;
}

.ninsixtysix {
	background-image: url("ninsixtysix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninsixtysix:hover {
	top: 500px;
}

.hairten {
	background-image: url("hairten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairten:hover {
	top: 620px;
}

.haireleven {
	background-image: url("haireleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.haireleven:hover {
	top: 620px;
}

.hairtwelve {
	background-image: url("hairtwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairtwelve:hover {
	top: 620px;
}

.accten {
	background-image: url("accten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accten:hover {
	top: 620px;
}

.acceleven {
	background-image: url("acceleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acceleven:hover {
	top: 620px;
}

.acctwelve {
	background-image: url("acctwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acctwelve:hover {
	top: 620px;
}

.makeupseven {
	background-image: url("makeupseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupseven:hover {
	top: 620px;
}

.makeupeight {
	background-image: url("makeupeight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupeight:hover {
	top: 620px;
}