.backgroundtwentyfour {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundsix.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentyfive{
	position: absolute;
	top: 715;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundsix.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentysix {
	position: absolute;
	top: 1430;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundsix.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentyseven {
	position: absolute;
	top: 2145;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundsix.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentyeight {
	position: absolute;
	top: 2860;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 40%;
	background-image: url("backgroundsix.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
.backgroundtwentyeight:after {
	position: absolute;
	bottom: -5px;
	left: 0px;
	width: 2000px;
	height: 15px;
	background-color: rgb(169, 39, 10);
	content: "";
}

.box {
	position: absolute;
	background-color: rgb(237, 237, 239);
	width: 840px;
	height: 460px;
	top: 57px;
	left: 20px;
}

h1 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(222, 114, 193 );
	font-size: 50px;
	top: -40px;
	left: 10px;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	position: absolute;
	top: 50px;
	left: 30px;
	line-height: 23px;
	width: 820px;
}

h3 {
	position: absolute;
	font-family: 'Righteous', cursive;
	color: rgb(222, 114, 193 );
	font-size: 50px;
	top: 2580px;
	left: 10px;
}

.relative-image {
	position: relative;
	width: 300px;
	height: 400px;
	top: 520px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.inline-block {
	position: relative;
	width: 300px;
	height: 400px;
	top: 620px;
	left: 35px;
	margin-bottom: 15px;
	margin-right: 10px;
	display: inline-block;
}

.nineightone {
	background-image: url("nineightone.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightone:hover {
	top: 500px;
}

.nineighttwo {
	background-image: url("nineighttwo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighttwo:hover {
	top: 500px;
}

.nineightthree {
	background-image: url("nineightthree.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightthree:hover {
	top: 500px;
}

.nineightfour {
	background-image: url("nineightfour.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfour:hover {
	top: 500px;
}

.nineightfive {
	background-image: url("nineightfive.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfive:hover {
	top: 500px;
}

.nineightsix {
	background-image: url("nineightsix.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightsix:hover {
	top: 500px;
}

.nineightseven {
	background-image: url("nineightseven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightseven:hover {
	top: 500px;
}

.nineighteight {
	background-image: url("nineighteight.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteight:hover {
	top: 500px;
}

.nineightnine {
	background-image: url("nineightnine.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightnine:hover {
	top: 500px;
}

.nineightten {
	background-image: url("nineightten.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightten:hover {
	top: 500px;
}

.nineighteleven {
	background-image: url("nineighteleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteleven:hover {
	top: 500px;
}

.nineighttwelve {
	background-image: url("nineighttwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighttwelve:hover {
	top: 500px;
}

.nineightthirteen {
	background-image: url("nineightthirteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightthirteen:hover {
	top: 500px;
}

.nineightfourteen {
	background-image: url("nineightfourteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfourteen:hover {
	top: 500px;
}

.nineightfifteen {
	background-image: url("nineightfifteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightfifteen:hover {
	top: 500px;
}

.nineightsixteen {
	background-image: url("nineightsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightsixteen:hover {
	top: 500px;
}

.nineseventeen {
	background-image: url("nineseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineseventeen:hover {
	top: 500px;
}

.nineighteighteen {
	background-image: url("nineighteighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineighteighteen:hover {
	top: 500px;
}

.nineightnineteen {
	background-image: url("nineightnineteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.nineightnineteen:hover {
	top: 500px;
}

.ninetwenty {
	background-image: url("ninetwenty.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.ninetwenty:hover {
	top: 500px;
}

.hairsixteen {
	background-image: url("hairsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairsixteen:hover {
	top: 610px;
}

.hairseventeen {
	background-image: url("hairseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hairseventeen:hover {
	top: 610px;
}

.haireighteen {
	background-image: url("haireighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.haireighteen:hover {
	top: 610px;
}

.accsixteen {
	background-image: url("accsixteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accsixteen:hover {
	top: 610px;
}

.accseventeen {
	background-image: url("accseventeen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.accseventeen:hover {
	top: 610px;
}

.acceighteen {
	background-image: url("acceighteen.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.acceighteen:hover {
	top: 610px;
}

.makeupeleven {
	background-image: url("makeupeleven.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeupeleven:hover {
	top: 610px;
}

.makeuptwelve {
	background-image: url("makeuptwelve.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.makeuptwelve:hover {
	top: 610px;
}