.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("desktopariana.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Unna', serif;
	color: white;
	font-size: 90px;
	position: absolute;
	top: -50px;
	left: 20px;
}

h2 {
	font-family: 'Unna', serif;
	color: white;
	font-size: 80px;
	position: absolute;
	top: 22px;
	left: 20px;
}

.ariana {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 65px;
	position: absolute;
	top: 158px;
	left: 80px;
}

.grande {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 65px; 
	position: absolute;
	top: 158px;
	left: 234px;
}

.date {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 296px;
	left: 35px;
}

.time {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 340px;
	left: 35px;
}

.ticket {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 460px;
	left: 35px;
}

.location {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 100px;
	left: 1065px;
}

.location2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 150px;
	left: 1065px;
}

.location3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 150px;
	left: 1190px;
}

.address {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1060px;
}

.address2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1090px;
}

.address3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1320px;
}

.zipcode {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1060px;
}

.zipcode2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1140px;
}

.zipcode3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1228px;
}

.zipcode4 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1290px;

}


@media (max-width: 375px) {
	h1 {
		font-size: 68px;
		top: 25px;
		left: 60px;
		color: rgb(139, 0, 139);
	}

	h2 {
		font-size: 64px;
		top: 78px;
		left: 50px;
		color: rgb(139, 0, 139);
	}
	.ariana {
		top: 205px;
		left: 110px;
		font-size: 67px;
		color: 	rgb(139,0,139);
	}

	.grande {
		top: 260px;
		left: 135px;
		font-size: 67px;
		color: 	rgb(139,0,139);
	}
	.date {
		font-size: 27px;
		top: 375px;
		left: 9px;
	}
	.time {
		font-size: 27px;
		top: 405px;
		left: 9px;
	}
	.ticket {
		font-size: 27px;
		top: 568px;
		left: 9px;
	}
	.location {
		font-size: 27px;
		top: 440px;
		left: 9px;
	}
	.location2 {
		font-size: 27px;
		top: 440px;
		left: 95px;
	}
    .location3 {
    	font-size: 27px;
    	top: 468px;
    	left: 9px;
    }
	.address {
		font-size: 27px;
		top: 500px;
		left: 9px;
	}
	.address2 {
		font-size: 27px;
		top: 500px;
		left: 25px;
	}
	.address3 {
		font-size: 27px;
		top: 500px;
		left: 150px;
	}
	.zipcode {
		font-size: 27px;
		top: 528px;
		left: 9px;
	}
	.zipcode2 {
		font-size: 27px;
		top: 528px;
		left: 56px;
	}
	.zipcode3 {
		font-size: 27px;
		top: 528px;
		left: 107px;
	}
	.zipcode4 {
		font-size: 27px;
		top: 528px;
		left: 139px;
	}
	.background {
		background-image: url("ariana2.jpg");
	}
}