.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("desktopariana.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Unica One', cursive;
	color: rgb(232, 153, 243);
	font-size: 96px;
	position: absolute;
	top: -50px;
	left: 23px;
}

h2 {
	font-family: 'Unica One', cursive;
	color: rgb(232, 153, 243);
	font-size: 86px;
	position: absolute;
	top: 22px;
	left: 29px;
}

.ariana {
	font-family: 'PT Sans Narrow', sans-serif;
	color: rgb(218, 82, 237);
	font-size: 65px;
	position: absolute;
	top: 170px;
	left: 104px;
}

.grande {
	font-family: 'PT Sans Narrow', sans-serif;
	color: rgb(218, 82, 237);
	font-size: 65px; 
	position: absolute;
	top: 170px;
	left: 260px;
}

.date {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 296px;
	left: 40px;
}

.time {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 340px;
	left: 40px;
}

.ticket {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 460px;
	left: 35px;
}

.location {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 100px;
	left: 1083px;
}

.location2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 146px;
	left: 1083px;
}

.location3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 146px;
	left: 1188px;
}

.address {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 309px;
	left: 1078px;
}

.address2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 309px;
	left: 1103px;
}

.address3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 309px;
	left: 1294px;
}

.zipcode {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 358px;
	left: 1078px;
}

.zipcode2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 358px;
	left: 1147px;
}

.zipcode3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 358px;
	left: 1223px;
}

.zipcode4 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 40px;
	position: absolute;
	top: 358px;
	left: 1275px;

}


@media (max-width: 375px) {
	h1 {
		font-size: 70px;
		top: 25px;
		left: 54px;
		color: rgb(139, 0, 139);
	}

	h2 {
		font-size: 67px;
		top: 78px;
		left: 61px;
		color: rgb(139, 0, 139);
	}
	.ariana {
		top: 205px;
		left: 249px;
		font-size: 50px;
		color: 	rgb(145,0,145);
	}

	.grande {
		top: 255px;
		left: 242px;
		font-size: 50px;
		color: 	rgb(145,0,145);
	}
	.date {
		font-size: 24px;
		top: 375px;
		left: 9px;
	}
	.time {
		font-size: 24px;
		top: 403px;
		left: 9px;
	}
	.ticket {
		font-size: 24px;
		top: 568px;
		left: 9px;
	}
	.location {
		font-size: 24px;
		top: 440px;
		left: 9px;
	}
	.location2 {
		font-size: 24px;
		top: 440px;
		left: 86px;
	}
    .location3 {
    	font-size: 24px;
    	top: 468px;
    	left: 9px;
    }
	.address {
		font-size: 24px;
		top: 505px;
		left: 9px;
	}
	.address2 {
		font-size: 24px;
		top: 505px;
		left: 24px;
	}
	.address3 {
		font-size: 24px;
		top: 505px;
		left: 140px;
	}
	.zipcode {
		font-size: 24px;
		top: 531px;
		left: 9px;
	}
	.zipcode2 {
		font-size: 24px;
		top: 531px;
		left: 52px;
	}
	.zipcode3 {
		font-size: 24px;
		top: 531px;
		left: 97px;
	}
	.zipcode4 {
		font-size: 24px;
		top: 531px;
		left: 128px;
	}
	.background {
		background-image: url("ariana2.jpg");
	}
}