.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("desktopariana.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Cabin', sans-serif;
	color: white;
	font-size: 80px;
	position: absolute;
	top: -50px;
	left: 20px;
}

h2 {
	font-family: 'Cabin', sans-serif;
	color: white;
	font-size: 70px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.ariana {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 60px;
	position: absolute;
	top: 147px;
	left: 60px;
}

.date {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 296px;
	left: 25px;
}

.time {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 340px;
	left: 24px;
}

.ticket {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 460px;
	left: 25px;
}

.location {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 100px;
	left: 1060px;
}

.location2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 150px;
	left: 1060px;
}

.address {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1060px;
}

.address2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1090px;
}

.address3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 300px;
	left: 1320px;
}

.zipcode {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1060px;
}

.zipcode2 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1140px;
}

.zipcode3 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1228px;
}

.zipcode4 {
	font-family: 'PT Sans Narrow', sans-serif;
	color: white;
	font-size: 50px;
	position: absolute;
	top: 350px;
	left: 1290px;

}


@media (max-width: 375px) {
	h1 {
		font-size: 65px;
		top: 30px;
		left: 35px;
	}
	h2 {
		font-size: 60px;
		top: 81px;
		left: 40px;
	}
	.ariana {
		top: 210px;
		left: 50px;
	}
	.date {
		font-size: 27px;
		top: 400px;
		left: 9px;
	}
	.time {
		font-size: 27px;
		top: 425px;
		left: 9px;
	}
	.ticket {
		font-size: 27px;
		top: 600px;
		left: 9px;
	}
	.location {
		font-size: 27px;
		top: 456px;
		left: 9px;
	}
	.location2 {
		font-size: 27px;
		top: 480px;
		left: 9px;
	}
	.address {
		font-size: 27px;
		top: 515px;
		left: 9px;
	}
	.address2 {
		font-size: 27px;
		top: 515px;
		left: 25px;
	}
	.address3 {
		font-size: 27px;
		top: 538px;
		left: 9px;
	}
	.zipcode {
		font-size: 27px;
		top: 538px;
		left: 65px;
	}
	.zipcode2 {
		font-size: 27px;
		top: 538px;
		left: 110px;
	}
	.zipcode3 {
		font-size: 27px;
		top: 563px;
		left: 9px;
	}
	.zipcode4 {
		font-size: 27px;
		top: 563px;
		left: 40px;
	}
	.background {
		background-image: url("mobileariana.jpg");
	}
}